---
title: Rashmi Yadav's Blog
---
<div class="container">
  <div class="span8">
    <div class="thumbnail span2">
      <img src="images/me.jpeg" alt=""/>
    </div>
    <div class="span4">
      <h1>Rashmi Yadav</h1>

      <h2>Ruby on Rails Developer</h2>

      <p>
        <i class="icon-map-marker"></i>
        New Delhi,
        India
      </p>
    </div>
    <div class="page-header"></div>
    <div class="page-header">
      <h3>
        I am working with Ruby and RubyonRails from last 5 years. I love to write code. I do contribute in many open
        source technologies.
      </h3>
      <p>
        &nbsp;
      </p>

    </div>

    <div class="page-header">
      <h3>All Articles</h3>
    </div>

    <% blog.articles[0...10].each do |article| %>
      <div class="summary">
        <h3><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></h3>
      </div>
      <hr/>
    <% end %>

  </div>
  <div class="span3">
    <h2>Contact</h2>

    <p><i class="icon-envelope"></i> raysrashmigw@gmail.com</p>

    <p><i class="icon-twitter twitter"></i> <a href="https://twitter.com/#!/raysrashmi">@raysrashmi</a></p>

    <p><i class="icon-github github"></i> <a href="https://github.com/rashmi14yadav">@rashmi14yadav</a></p>



  </div>

</div>

<%= partial "footer" %>

